body,html{
    height: 100%;
    justify-content: center;
    align-items: center;
}

#infoContainer.active
{
    filter: blur(10px);
}

#buttonContainer.active
{
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

.bg-image{
    background-image: url(img.jpg);
    height: 110%;
    filter: blur(8px);
        -webkit-filter: blur(8px);
        -moz-filter: blur(8px);
        -o-filter: blur(8px);
        -ms-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -20px -20px -20px -20px;
}

h1{
    font-family: sans-serif;
    color: white;
    font-size: 60px;
    position: absolute;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: black;

    left: 43%;
    top: 10%;
}

h2{
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    position: absolute;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;

    left: 5%;
    top: 10%;
}

.info{
    position: absolute;
    left: 0%;
    top: 30%;
    /* outline-style: dotted; */
    height: 60%;
    width: 50%;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;


    /* justify-content: center;
    align-items: center; */
}

#switchInfo{
    position: absolute;
    color: white;
    top: 25%;
    left: 5%;
    text-align: center;
    height: 100%;
    width: 50%;
    font-size: 20px;
    font-family: sans-serif;
}

.buttons{
    position: absolute;
    left: 50%;
    top: 30%;
    /* outline-style: dotted; */
    height: 60%;
    width: 50%;
    color: white;

    justify-content: center;
    align-items: center;
}

#toggleOn{
    position: absolute;
    left: 35%;
    top: 0%;
    text-align: center;
    width: 150px;
    padding: 40px;
    font-size: 15px;
    color: #15f433;
    font-family: poppins;
    font-weight: 400;
    border: 5px solid #15f433;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
}

#toggleOn:hover{
    box-shadow: 0 5px 50px 0 #15f433 inset, 0 5px 50px 0 #15f433,
    0 5px 50px 0 #15f433 inset, 0 5px 50px 0 #15f433;
    text-shadow: 0 0 5px #15f433, 0 0 5px #15f433;
}

#toggleOff{
    position: absolute;
    left: 35%;
    top: 33%;
    text-align: center;
    width: 150px;
    padding: 40px;
    font-size: 15px;
    color: #DC143C;
    font-family: poppins;
    font-weight: 400;
    border: 5px solid #DC143C;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
}

#toggleOff:hover{
    box-shadow: 0 5px 50px 0 #DC143C inset, 0 5px 50px 0 #DC143C,
    0 5px 50px 0 #DC143C inset, 0 5px 50px 0 #DC143C;
    text-shadow: 0 0 5px #DC143C, 0 0 5px #DC143C;
}

#current{
    position: absolute;
    left: 35%;
    top: 40%;
    text-align: center;
    width: 150px;
    padding: 40px;
    font-size: 15px;
    color: #FFFF00;
    font-family: poppins;
    font-weight: 400;
    border: 5px solid #FFFF00;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
}

#current:hover{
    box-shadow: 0 5px 50px 0 #FFFF00 inset, 0 5px 50px 0 #FFFF00,
    0 5px 50px 0 #FFFF00 inset, 0 5px 50px 0 #FFFF00;
    text-shadow: 0 0 5px #FFFF00, 0 0 5px #FFFF00;
}

#popupCurrent
{
    position: absolute;
    z-index: 1000;
    outline-style: dotted;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background-color: white;
    background-size: cover;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

#popupCurrent.active
{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#schedule{
    position: absolute;
    left: 35%;
    top: 66%;
    text-align: center;
    width: 150px;
    padding: 40px;
    font-size: 15px;
    color: #8A2BE2;
    font-family: poppins;
    font-weight: 400;
    border: 5px solid #8A2BE2;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
}

#schedule:hover{
    box-shadow: 0 5px 50px 0 #8A2BE2 inset, 0 5px 50px 0 #8A2BE2,
    0 5px 50px 0 #8A2BE2 inset, 0 5px 50px 0 #8A2BE2;
    text-shadow: 0 0 5px #8A2BE2, 0 0 5px #8A2BE2;
}

#closeButton{
    position: absolute;
    left: 55%;
    top: 66%;
    text-align: center;
    width: 100px;
    padding: 40px;
    font-size: 15px;
    color: #DC143C;
    font-family: poppins;
    font-weight: 400;
    border: 5px solid #DC143C;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
}

#closeButton:hover{
    box-shadow: 0 5px 50px 0 #DC143C inset, 0 5px 50px 0 #DC143C,
    0 5px 50px 0 #DC143C inset, 0 5px 50px 0 #DC143C;
    text-shadow: 0 0 5px #DC143C, 0 0 5px #DC143C;
}

#updateButton{
    position: absolute;
    left: 15%;
    top: 66%;
    text-align: center;
    width: 100px;
    padding: 40px;
    font-size: 15px;
    color: #0000FF;
    font-family: poppins;
    font-weight: 400;
    border: 5px solid #0000FF;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
}

#updateButton:hover{
    box-shadow: 0 5px 50px 0 #0000FF inset, 0 5px 50px 0 #0000FF,
    0 5px 50px 0 #0000FF inset, 0 5px 50px 0 #0000FF;
    text-shadow: 0 0 5px #0000FF, 0 0 5px #0000FF;
}

#popup
{
    position: absolute;
    z-index: 1000;
    outline-style: dotted;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: url(clock.png);
    background-size: cover;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

#popup.active
{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#back{
    width: 60px;
    position: absolute;
    height: 30px;
    background: red;
    text-align: center;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    left: 80%;
    top: 90%;
}

#back:hover{
    box-shadow: 0 5px 50px 0 #DC143C inset, 0 5px 50px 0 #DC143C,
    0 5px 50px 0 #DC143C inset, 0 5px 50px 0 #DC143C;
    text-shadow: 0 0 5px #DC143C, 0 0 5px #DC143C;
}

#update{
    width: 60px;
    position: absolute;
    height: 30px;
    background: blue;
    text-align: center;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    left: 5%;
    top: 90%;
}

#update:hover{
    box-shadow: 0 5px 50px 0 blue inset, 0 5px 50px 0 blue,
    0 5px 50px 0 blue inset, 0 5px 50px 0 blue;
    text-shadow: 0 0 5px blue, 0 0 5px blue;
}

.clock:before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 49%;
    top: 49%;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}

/* .clock .hour,
.clock .min,
.clock .sec
{
    position: absolute;
    transform: rotateZ(78deg)
} */


.clock .hr
{
    position: absolute;
    transform: rotateZ(180deg);
}

.clock .hr
{
    width: 160px;
    height: 160px;
    left: 33%;
    top: 33%;
    /* outline-style: dotted; */
}

.clock .mn
{
    position: absolute;
    transform: rotateZ(270deg);
}

.clock .mn
{
    width: 190px;
    height: 190px;
    left: 29.5%;
    top: 29.5%;
    /* outline-style: dotted; */

}

.clock .sc
{
    position: absolute;
    transform: rotateZ(00deg);
}

.clock .sc
{
    width: 230px;
    height: 230px;
    left: 25.3%;
    top: 25.3%;
    /* outline-style: dotted; */
}

.hr, .mn, .sc
{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
}

.hr:before
{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn:before
{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #ffffff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sc:before
{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: black;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}


#scheduleInfo{
    text-align: left;
}

#connectivityInfo{
    text-align: left;
}

#twelve_one{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(15deg);
    left: 51%;
    top: 2%;
}


#twelve_two{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(15deg);
    left: 56.5%;
    top: 3.25%;
}

#twelve_three{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(15deg);
    left: 62%;
    top: 4.5%;
}

#twelve_four{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(15deg);
    left: 67.5%;
    top: 6.5%;
}

#one_one{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(45deg);
    left: 73%;
    top: 11%;
}

#one_two{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(45deg);
    left: 77%;
    top: 15%;
}

#one_three{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(45deg);
    left: 81%;
    top: 19%;
}

#one_four{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(45deg);
    left: 85%;
    top: 23%;
}

#two_one{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(75deg);
    left: 88%;
    top: 29%;
}

#two_two{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(75deg);
    left: 89.5%;
    top: 34%;
}

#two_three{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(75deg);
    left: 91.5%;
    top: 39%;
}

#two_four{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(75deg);
    left: 93%;
    top: 44%;
}


#three_one{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(105deg);
    left: 93%;
    top: 53%;
}

#three_two{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(105deg);
    left: 91.5%;
    top: 58%;
}

#three_three{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(105deg);
    left: 89.5%;
    top: 63%;
}

#three_four{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(105deg);
    left: 88%;
    top: 68%;
}

#four_one{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(135deg);
    left: 85%;
    top: 74%;
}

#four_two{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(135deg);
    left: 81%;
    top: 78%;
}

#four_three{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(135deg);
    left: 77%;
    top: 82%;
}

#four_four{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(135deg);
    left: 73%;
    top: 86%;
}


#five_one{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(165deg);
    left: 67.5%;
    top: 89%;
}


#five_two{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(165deg);
    left: 62%;
    top: 91.25%;
}

#five_three{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(165deg);
    left: 56.5%;
    top: 92.5%;
}

#five_four{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(165deg);
    left: 51%;
    top: 93%;
}


#six_one{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(195);
    left: 44%;
    top: 93%;
}


#six_two{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(195deg);
    left: 38.5%;
    top: 92.5%;
}

#six_three{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(195deg);
    left: 33%;
    top: 90.5%;
}

#six_four{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(195deg);
    left: 27.5%;
    top: 88%;
}

#seven_one{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(225deg);
    left: 22%;
    top: 86%;
}


#seven_two{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(225deg);
    left: 18%;
    top: 82%;
}

#seven_three{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(225deg);
    left: 14%;
    top: 78%;
}

#seven_four{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(225deg);
    left: 10%;
    top: 74%;
}

#eight_one{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(255deg);
    left: 6%;
    top: 69%;
}

#eight_two{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(255deg);
    left: 4.5%;
    top: 64%;
}

#eight_three{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(255deg);
    left: 3%;
    top: 59%;
}

#eight_four{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(255deg);
    left: 1.5%;
    top: 54%;
}

#nine_one{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(285deg);
    left: 1.5%;
    top: 44%;
}

#nine_two{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(285deg);
    left: 3%;
    top: 39%;
}

#nine_three{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(285deg);
    left: 4.5%;
    top: 34%;
}

#nine_four{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(285deg);
    left: 6%;
    top: 29%;
}

#ten_one{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(315deg);
    left: 10%;
    top: 22%;
}

#ten_two{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(315deg);
    left: 14%;
    top: 18%;
}

#ten_three{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(315deg);
    left: 18%;
    top: 14%;
}

#ten_four{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(315deg);
    left: 22%;
    top: 10%;
}

#eleven_one{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(345deg);
    left: 27%;
    top: 5.8%;
}

#eleven_two{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(345deg);
    left: 32.5%;
    top: 4.5%;
}

#eleven_three{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(345deg);
    left: 38%;
    top: 3.25%;
}

#eleven_four{
    width: 20px;
    position: absolute;
    height: 20px;
    background: red;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    transform: rotateZ(345deg);
    left: 43.5%;
    top: 2%;
}

/* .clock
{
    width: 350px;
    height: 350px;
} */